/*Order: @import, :root, *, Elements, Classes, IDs, Attributes, Selectors, Nesting Selectors, Pseudo-Elements, Pseudo-Classes, At-Rules*/
/*Order: Position, Size, Shape, Color, Function*/

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=fallback");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap");

* {
	margin: 0vw;
	padding: 0vw;
	border: 0vw;
	color: #ffffff;
	font-size: 1.25vw;
	font-family: "Nunito Sans", sans-serif;
	font-weight: 400;
}

body {
	background-color: #000999;
}

above {
	display: flex;
	padding: 1vw;
	justify-content: center;
	font-weight: 600;
	color: #000000;
	background-color: white;
}

header {
	display: flex;
	padding: 1vw 10vw;
	justify-content: space-between;
	align-items: center;
}

nav {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

nav a {
	font-size: 1.75vw;
	font-weight: 800;
	text-decoration: none;
}

nav a img {
	width: 2.25vw;
}

nav a:hover {
	text-decoration: underline 0.2vw;
}

main {
	display: flex;
	padding: 1vw 10vw;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 1vw 10vw;
	background-color: #000000;
}

footer section {
	max-width: 25vw;

}

h1 {
	font-size: 5vw;
	font-weight: 800;
}

h2 {
	font-size: 2.5vw;
}

form {
	display: flex;
	flex-direction: column;
}

select, option {
	margin-top: 1vw;
	width: 20vw;
	padding: 0.75vw;
	float: left;
	border-radius: 0.75vw;
	color: #000000;
}

.logo {
	width: 30vw;
}

.asidegraphic {
	max-width: 30vw;
}

.bold {
	font-weight: 800;
	text-decoration: none;
}

.button {
	padding: 1vw;
	border: solid #ffffff 0.2vw;
	border-radius: 0.75vw;
	text-decoration: none;
}

.button:hover {
	background-color: #ffffff33;
}

above::after {
	content: "→";
	padding-left: 1vw;
}
